<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>


  <div class="box">

      <% newListItems.forEach(function(thing){ %>
        <form class="" action="/delete" method="post">

        <div class="item">
        <input type="checkbox"  name="itm" value="<%= thing._id %>" onChange="this.form.submit()" >
        <p><%= thing.item %></p>
        </div>
        <input type="hidden" name="listName" value="<%=listTitle %>"></input>
      </form>
      <% }) %>

      <form class="item" action="/" method="post">
        <input class="only" type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button class="only" type="submit" name="list" value="<%=listTitle %>">+</button>
      </form>




  </div>

  <form class="logind" action="/custom" method="post">

    <input type="text" name="login" value="" placeholder="Your Name">
    <button class="login-button" type="submit" name="loginButton">Login</button>

  </form>
<%- include("footer") -%>
